# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Python build
build/
dist/
*.egg-info/

# Jupyter checkpoints
.ipynb_checkpoints/

# Model files (optional if very large)
*.h5
*.keras
*.pt
*.pth

# VSCode
.vscode/

# Testing
.pytest_cache/

models/